* {
    font-weight: bold;
}

body { 
    background-image: url(../images/fondo.jpeg);
}

h1{
    color: white;
}
a {
    color: white;
}

a:visited { 
   color: white;
} 

li::marker { 
    color: white;
}

ul li {
    color: white;
}
