*{

}

body {
    background-color: rgb(222, 193, 249);
}

h1 {
    text-align: center;
    background-color: rgb(201, 176, 224);
    border-bottom: 5px solid black;
}

img {
    border: 4px solid black;
    margin-right: 60px;
}

ul {
    text-align: center;
}

li {
    
}

p {

}

#header {
  
}

#content{
  
}

#text {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#text p {
    border: 5px dashed black;
    background-color: rgb(190, 165, 211);
    text-indent: 40px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
}

#text p:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url(../images/fondoParrafo.png);
    background-repeat: repeat;
}

#text p:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu {
    
}

#menu a{
    text-decoration: none;
}


#menu li{
    display: inline;
    border-left: 5px solid red;
    padding-left: 5px;
}

#menu li a:hover{
    border-bottom: 2px solid red;
}

#footer{
    border-top: 5px solid black; 
    text-align: center;
    background-color: rgb(38, 13, 62);
    color: white;
}

#footer a{
    color: white;
}

#footer a:hover{

}
#image {
    text-align: right;
}

@media all and (max-width: 500px) {
   
    img {
        border: 4px solid red;
        margin-right: 0px;
        margin-left: 0px;
        width: 90%; 
    }

    #image {
    text-align: center;
}
}
