body {
text-align: center;
background-image: url("../images/fondo.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

h1 {
background-color: gray;
color: white;
border-left: 7px solid red;
}

img {
border: 5px solid black;
border-radius: 15px;
height: 300px;
box-shadow: 5px 10px 15px rgba(0,0,0,0.7);
}

.mi-imagen {

}

ul {
list-style-type: none;
}

li {
list-style-type: none;
border: 1px solid black;
display: inline;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}