/*
    CSS para el examen

    colores:

    fondo: #333333;
    fondo: cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/

body {
    background-color: #333333;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    text-align: center;
    background-color: #424242;
    justify-content: center;
}

.youtuber, footer, nav {
    background-color: #424242;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 5px 10px 8px black;
    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}
footer {
    padding: 0px;
    color: white;
}

.imageHome{
    border:black 4px solid;
    border-radius: 3%;
    width: 60%;
    /* Se utiliza en im치genes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo
    su relaci칩n de aspecto*/
    object-fit: cover; 
}

.youtuber .images {

    border-radius: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;    
    /* Se utiliza en im치genes y videos 
    para asegurarse de que siempre llenen 
    completamente el contenedor, manteniendo 
    su relaci칩n de aspecto*/
    object-fit: cover; 
}

.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}

.youtuber p {
    color: white;
    font-size: 1em;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    border-left: 4px red solid;
    padding-left: 5px;
}

nav a {
    text-decoration: none;
    color:white
}

nav a:hover {
    color: red;
    text-decoration: underline white;
}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    /* animacion en css, para cambiar el color del boton, no visto en clase 
    pero yo te lo regalo ;) */
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: red;
    color: black
}

@media all and (max-width: 700px) {
    .youtuber, .footer {
    border-color: red;
    }
    .button {
        background-color: red;        
    }
    .button:hover {
        color: red;
    }    
}
