#menu {
    background-color: white;
    text-align: center;
    font-size: 1.2em;
    position: fixed;
    top: 0px;
    width: 100%;
}

#menu a {
    text-decoration: none;
    color: black;
    margin-inline: 10px;
}

#menu li { 
    display: inline;
}

#menu li a:hover{
    color: red;
    text-decoration: underline red 2px;
  }