body {
    background-image: url(/FloatExtra/images/imagefondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
    background-position: center;
}

h1{
  border: 2px black solid
    }

#header {
  background-image: url(/FloatExtra/images/fondoh1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
    margin-top: 50px;
    text-align: center;
}

#menu {
    background-color: white;
    text-align: center;
    font-size: 0.9em;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-left: 0%;
}

#menu a {
    text-decoration: none;
    color: black;
    margin-inline: 10px;
}

#menu li { 
    display: inline;
}

#menu li a:hover{
    color: rgba(255, 0, 0, 0.651);
    text-decoration: underline rgba(255, 0, 0, 0.651) 2px;
  }

#content {
    width: 100%;
    overflow: auto;
}

#main {
  width: 80%;
  border: 2px black solid;
  float: left;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
}

h2{
  text-align: center;
}

.imageRight {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

.imageLeft {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  overflow: auto;
}

#two {
  clear: both;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 2px solid black;
  height: 500px;
  overflow-y: scroll;
}

h3{
  margin-left: 1em;
}

p {
display: block;
margin-left: 1em;
}

#rightNav{
  float:right;
  width: 15%;
  margin-right: 50px;
  text-align: center;
}

#rightNav li{
  list-style-type: none;
}

#rightNav li a:hover{
  text-decoration: solid black 2px;
}


.imgli{
  width: 150px;
  overflow: auto;
}

.imgli2{
  width: 80px;
}

.imgli3{
  width: 80px;
  margin-top: 30px;
}

.imgli4{
  width: 80px;
  margin-top: 30px;
}

.imgli5{
  width: 80px;
  margin-top: 30px;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
    color: black;
    border-top: 2px solid black;
    clear: both;
  }

#textCookie {
    text-align: center;
  }
      
#cookieEU {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 10%;
    right: 10%;
    border:2px solid black;
    background-color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 50px black;
  }

.button {
    background-color: rgba(0, 145, 255, 0.646);
    border-color: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    background-color: rgba(255, 0, 0, 0.301);
}

@media all and (max-width: 300px) {

}