body {
    background-image: url(/FloatExtra/images/imagefondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
}

#header {
    margin-top: 50px;
    text-align: center;
}

#menu {
    background-color: white;
    text-align: center;
    font-size: 0.9em;
    position: fixed;
    top: 0px;
    width: 100%;
    margin-left: 0%;
}

#menu a {
    text-decoration: none;
    color: black;
    margin-inline: 10px;
}

#menu li { 
    display: inline;
}

#menu li a:hover{
    color: rgba(255, 0, 0, 0.651);
    text-decoration: underline rgba(255, 0, 0, 0.651) 2px;
  }

#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    text-align: center;
    color: black;
    border-top: 2px solid black;
    clear: both;
  }
  
#footer a{
    color: black;
    text-decoration: none;
  }
  
#footer a:hover{
    color: #443266;
    background-color: black;
    text-decoration: none;
}

#imageLeft {
  float: left;
  text-align: center;
  padding-bottom: 5px;
  width: 50px;
  height: 50px
}

#textCookie {
    text-align: center;
  }
      
#cookieEU {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 10%;
    right: 10%;
    border:2px solid black;
    background-color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 50px black;
  }

.button {
    background-color: rgba(0, 145, 255, 0.646);
    border-color: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    background-color: rgba(255, 0, 0, 0.301);
}